[giggle]
	compact-mode = false
	main-window-maximized = true
	main-window-geometry = 362x287+1675+144
	main-window-view = HistoryView
	file-view-vpane-position = 802
	history-view-vpane-position = 802
[user]
	email = 
	name = 
[diff]
	external = /usr/local/bin/mydiff.sh
